 /* cards */
 .card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
  }
  
  .card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
  }
  /* end of cards */
  
  /* tables */
  @media (max-width: 426px) {
    .hide-small {
      display: none;
    }
  }
  /* end of tables */
  
  /* description */
  #description .profile {
    max-width: 35px;
    max-height: 35px;
  }

  #datetime {
      color: white;
      background-image: url(../assets/images/time.jpg);
      background-size: cover;
  }

  #clock {
    border-bottom: 3px solid white;
  }
  /* end of description */